@media only screen and (max-width: 731px){
	body{
		min-width: unset!important;
		width: auto;
		font-size: 14px;
	}
	.msg_president_space{
		padding: 15px 0px!important
	}
	.l_content {
		font-size: calc(2.4rem + 24 * ((100vw - 750px) / 750));
		word-break: break-all;
		min-height: unset !important;
		margin: 0px 15px!important;
		padding: 25px 15px!important;
	}
	h1{
		font-size: calc(3.5rem + 24 * ((100vw - 750px) / 750)) !important;
	}
	h2{
		font-size: calc(3rem + 24 * ((100vw - 750px) / 750)) !important;
	}
	h3,h4,h5{
		font-size: calc(2.4rem + 24 * ((100vw - 750px) / 750)) !important;
	}
	.l_burger_icon {
		position: absolute !important;
		z-index: 101 !important;
		right: 5px !important;
		width: 10%;
		top: 10px;
		height: auto;
		display: block !important;
	}
	.l_poster_header .title{
		display: none;
	}
	.l_poster_header .sub-title{
		font-size: 6.7vw!important;
		font-weight: bold!important;
	}
	.l_side_contents
	{ 	display: none;
		height:100%;
		width:200px;
		background-color:#fff;
		right: 0;
		position:fixed!important;
		z-index:102;
		overflow:auto;
		margin-top: -20px;
	}
	.l_btn{
		margin-bottom: unset!important;
	}
	.l_main_contents{
		max-width: 740px!important;
		float: none!important;
		width: auto!important;
	}
	.l_main_contents.inner h1{
		font-size: 18px!important;
	}
	.l_main_contents.inner p{
		font-size: 14px;
	}
	.l_container{
		padding-top: 20px!important;
		padding-bottom: 30px!important;
	}
	.l_wrap{
		width: 100%!important;
    	padding: 4%;
	}
	section{
		position: inherit;
		max-width: 100%!important; 
	}
	.c_news_type01
	{
		width: 100%!important;
		
	}
	.l_news_area{
		margin: 0px!important;
		width: 100%!important;
	}
	.l_poster_area{
		width: 100%!important;
		background-size: 110% 110%!important;
		background-position: center!important;
		height: 120vw!important;
		margin-top: -20px;
	}
	.l_poster_header{
		margin-top: 20px!important;
	}
	.l_poster_detail{
		width: 80%;
		height: auto;
		top: 55vw!important;
	}
	.l_poster_date_jp,
	.l_poster_date_en{
		text-align: center;
		height: auto;
		width: 80%;
		top: 70vw!important;
		right: 0!important;
		left: 0!important;
		bottom: unset!important;
	}
	.l_top_slider.u_pc{
		display: none!important;
	}
	.l_top_slider.u_sp{
		display: block!important;
	}
	.u_sp{
		display: block!important;
	}
	.u_mab80 {
		margin-bottom: 12%;
	}
	.u_pab60{
		padding-bottom: 5%!important;
	}
	.u_mab10 {
		margin-bottom: 2%!important;
	}
	.u_ma{
		display: none;
	}
	.u_mat110{
		margin-top: 30px!important;
	}
	.u_mab30{
		margin-bottom: 6%!important;
	}
	.u_mab50 {
		margin-bottom: 10%!important;
	}
	.logo{
		position: absolute;
	}
	.logo1{
		bottom: 2vw;
		right: 15vw;
		width: 15vw;
		height: 15vw
	}
	.logo2{
		width: 10vw;
		height: 12vw;
		bottom: 4vw;
		right: 5vw;
	}
	.l_wrap{
		max-width: 740px!important;
	}
	.l_side_contents{
		display: none;
	}
	.l_bg{
		max-width: 740px!important;
	}
	.l_wrap.page2{
		padding: 0%;
	}
	.l_bg.inner.page2{
		padding: 10% 4%!important;
		border-top: 0px!important;
	}
	.l_header h1 img{
	  width: 100%;
		position: unset!important;
	}
	.l_header{
		top: unset!important;
	}
	.l_header_area {
		height: unset!important;
		margin-bottom: unset!important;
		margin-top: unset!important;
		margin-left: 15px!important;
		margin-right: 15px!important;
	}
	.c_table_div_type01{
		height: auto!important;
	}
	.c_list_div_type02,
	.c_list_div_type01{
		width: 100%!important;
		float: none!important;
	}
	.c_list_div_type01 ul,
	.c_list_div_type02 ul{
		float: none;
	}
	.c_list_div_type01{
		padding-left: 30px!important;
	}
	.c_table_type02{
		width: 100%!important;
		float: none!important;
		font-size: 1.2rem!important;
	}
	.c_table_type03{
		margin-left: 0px!important;
		width: 100%!important;
		margin-top: 20px!important;
	}
	.c_btn{
		margin-left: 0px!important;
		margin-top: 10px;
	}
	.c_contact_type02{
		width: 80%!important;
		margin-left: 20px!important;
		float: none!important;
	}
	.c_news_type01 dt {
		padding-top: 20px !important;
		padding-bottom: 0px !important;
		float: none !important;
	}
	.c_news_type01 dd {
		padding-left: 20px !important;
		padding-top: 10px !important;
	}
	.c_news_type01 dt {
		padding-left: 20px!important;
	}
	.c_ttl_type01{
		margin: 0px 15px 20px!important;
	}
	.news_section{
		margin: 0px 10px!important;
	}
	.c_btn_english::after {
		left: 125px!important;
	}
	.c_nav_type02{
		display: none;
	}
	.c_header_ttl{
		left: 30%;
	}
	.c_header_ttl span{
		font-size: 14px!important;
	}
	.footer{
		display: none;
	}
	.u_pc.base{
		background: #E6E6E6;
		padding: 20px;
		margin-top: 50px;
		text-align: center;
		vertical-align: bottom;
	}
	.u_fs18{
		font-size: 14px!important;
	}
	.l_footer_area{
		padding: 6% 0px 0px 0px!important;
	}
	.l_wrap.footer_area{
		padding: 0% 3% 6%;
	}
	.l_copyright{
		display: flex!important;
		margin-top: 0px!important;
	}
	.label_area{
		flex-direction: column-reverse;
		align-items: flex-start!important;
	}
	.c_table_type05{
		font-size: 2.9vw;
		width: 100%;
		margin-bottom: 40px;
	}
	.c_table_type05 td{
		padding: 1.5vw;;
	}
	.footer{
		font-size: 3.2vw;
	}
	.c_steps p {
		font-size: 18px!important;
	}
	.u_sp {
		display: block;
	}
	.c_hamburger {
		float: right;
		position: relative; 
		z-index: 999;
		margin: auto 0;
		right: 1vw!important;
		display: block;
		box-sizing: content-box;
		height: 7vw;
		width: 8vw;
		padding: 1.67vw;
		border: 0;
		outline: 0;
		background: rgba(0,0,0,0);
	}	
	.c_bar_hamburger {
		width: 8vw;
		height: 1vw;
		margin: 1vw 0px;
		background: #0b5395;
	}
	.l_slider {
		margin-bottom: 10%!important;
		justify-content: center;
		align-items: center;
	}
	.c_bar_hamburger:before {
		content: "";
		width: 8vw;
		height: 1vw;
		background: #29ABE2;
	}
	.c_bar_hamburger:after {
		content: "";
		width: 8vw;
		height: 1vw;
		background: #29ABE2;
	}
	.l_nav_area_sp {
		float: right;
		margin-top: -8px;
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		width: 100%;
	}
	.l_nav_area_sp.hidden{
		display: none!important;
		overflow-y: unset!important;  
	}
	.overlay{
		position: fixed;
		display: block;
		width: 100%;
		height: 100%;
		top: 90px;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);
		z-index: 101;
		cursor: pointer;
	}
	.overlay.hide{
		display: none;
	}
	.l_nav_area.l_wrap {
		padding: 0px;
		height: auto;
		position: relative;
		margin-left: 0px;
	}
	.c_nav_type01 li {
		width: 100%;
		position: relative;
	}
	.c_nav_type01 li a{
		padding: 4%!important;
	}
	.c_nav_type01 li span{
		display: inline-block!important;
		color: #0C569E!important;
	}
	.c_nav_type01 li.active span,
	.c_nav_type01 li span:hover{
		color: #fff;
	}
	.c_nav_type01 {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		background: #C5F0FF;
		padding: 0.5% 0%;
		position: relative;
		right: 0;
		z-index: 200;
		max-height: 100%;
		overflow: scroll;
	}
	.c_nav_type01 li:hover a, .c_nav_type01 li.active a {
		border-bottom: none;
		background: unset;
	}
	.c_nav_type01 li a, .c_nav_type01 li.active a {
		text-align: left;
		height: auto;
	}
	.c_nav_type01 li a {
    padding: 2% 6%;
    color: #000;
    font-weight: normal;
	border-top: 1px solid #555;
}
	.l_lang_button_group {
		position: relative;
		width: 100%!important;
		z-index: 102;
		background: #29ABE2;
		padding: 2% 5%;
		text-align: right;
		top: 0px;
	}
	.l_lang_button_group a{
		font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', arial, helvetica, sans-serif;
		font-size: calc(20px + 20 * ((100vw - 768px) / 768))!important;
	}
	.l_lang_button_group a:hover, .l_lang_button_group a.active {
		border: 1px	solid #FFF!important;
		background: #0094E6!important;
		color: #FFF;
	}
	.l_lang_button_group a{
		background: white;
	}
	.c_steps {
		width: 25%!important;
		height: 12.5vw!important;
		border-radius: 35px!important;
		justify-content: flex-start!important;
		padding-right: 0!important;
		padding-left: 13%!important;
		background-size: 37% !important;
		background-position: left 9% center !important;
		
	}
	.u_pc{
		display: none!important;
	}
	.u_pc_slider{
		display: none!important;
	}
	.u_sp{
		display: block;
	}
	.c_table_type04 tr{
		display: block;
	}
	.c_table_type04 th{
	width: 35%!important;
		align-items: center;
	}
	.c_table_type04 th p span{
		
		margin-left: 20px!important;
	}
	.c_red_border{
		padding: 0px 10px!important;
	}
	.c_blue_border{
		padding: 0px 10px!important;
	}
	.c_table_type04 td{
		width: 100%;
		height: auto;
	}
	.c_table_type04 tr > * {
		width:!important;
	}
	.l_contact{
		display: block!important;
	}
	.l_contact{
		margin: 0px auto;
	}
	.l_contact img{
		height: 18vw;
		width: 70%;
	}
	.l_contact img:nth-child(2){
		margin-top: 10px;
	}
	.l_quadraple img{
		flex: none;
		width: 100%!important;
		height: auto;
	}
	.l_quadraple > div{
		width: 49%!important;
	}
	.l_triple > div{
		width: 49%!important;
	}
	.l_triple{
		justify-content: space-between!important;
	}
	.part_2 .bg::after{
		content: ""!important;
		width: 0!important;
		height: 0!important;
	}
	.part_2{
		margin-right: 0px!important;
	}
	.first{
		overflow: hidden;
	}
	.l_pg{
		display: flex!important;
    	flex-direction: row!important;
    	align-items: center!important;
   		width: 100% !important;
	}
	.l_pg .c_picture{
    	height: 60vw;
	}
	.l_pg .c_picture{
		width: 100%!important;
		
		margin: 10px auto;
	}
	.l_pg .c_picture img{
		display: flex;
		justify-content: center;
	}
	.c_picture .description{
		display: block;
		z-index: 1001;
	}
	.c_picture .description p{
		font-size: 1.2rem;
	}
	.l_pg > div {
		width: 50%!important;
		display: inline-block;
	}
	.l_pg .c_description{
		width: 100%;
		padding: 5% 3%!important;
		height: 60vw;
		position: unset!important;
		justify-content: space-between;
		display: flex;
		flex-direction: column;
		font-size: 2.6vw;
		overflow: hidden;
	}
	.c_description p{
		font-size: 14px!important;
	}
	.c_description p:not(.header){
		margin-top: 0px!important;
	}
	.c_description .header {
		position: unset!important;
		top: 0;
		font-size: 18px!important
	}

	.l_pg .c_picture img{
		width: 100%;
		margin: 0px auto;
	}

	.part_2 .bg{
		width: 40%!important;
	}
	.part_2 .bg img{
		position: relative;
		bottom: 0;
		left: -10vw!important;
		right: 0;
		margin: 0 auto;
	}
	.c_message_details{
		width: 60%!important;
		float: right;
	}
	.c_message_details h1{
		font-size: 16px!important;
	}
	.c_president_img{
		display: none;
	}
	.c_company_building{
		width: 100%;
	}
	.c_pres_msg-img{
		display: none;
	}
	.c_pres_msg{
		font-size: 14px!important;
			
	}
	.c_company_profile{
		font-size: 14px!important;
		font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', arial, helvetica, sans-serif!important;
	}
	.c_company_profile tr td::before{
		margin-right: 3%!important;
		margin-left: 3%!important;
	}
	.c_company_profile th{
		margin-right: 3%!important;
		font-weight: normal!important;
	}
	.c_company_message{
		height: 180vw!important;
	}
	.l_buiilding_msg{
    	padding: 0 2%!important;
	}
	.sp_imgs{
		display: flex!important;
		flex-wrap: wrap;
		justify-content: space-between;
		flex-direction: column;
		position: absolute;
		width: 35%;
		left: 2%;
		height: 95vw;
	}
	.sp_imgs img{
		width: 100%;
	}
	.l_company_msg{
		padding: 15px!important;
	}

	.l_maps_description.type02{
		margin-left:!important;
	}
	.l_maps_description{
		padding: 3% 5% 5%!important;
		display: block!important;
		bottom: unset!important;
		left: unset!important;
		width: 75%!important;
		margin: 30px auto!important;
	}
	.l_maps-desc-sp{
		margin-top: -80px
	}
	.details img{
		width: 60%;
	}
	.c_btn02{
		position: absolute!important;
		bottom: -15%!important;
		left: unset!important;
		right: 4%;
		width: 10%!important;
		min-width: 100px!important;
		min-height: unset!important;
	}
	.u_fs20{
		font-size: 14px!important;
	}
	.l_page_ttl_header.company {
		background-size: 50%, contain!important;
	}
	.l_page_ttl_header {
		height: 40vw!important;
	}
	.c_box_type02 .header{
		font-size: 3.6vw!important;
	}
	.c_box_type05{
		width: 100%!important;
		margin-top: 10px;
	}
	.c_box_description{
		margin-right: unset!important;
	}
	.c_box_type06 {
		width: 48%!important;
	}
	.l_manu_steps_box img{
		display: none;
	}
	.l_manu_steps_box div{
		padding: 7%!important;
		width: 100%!important;
	}
	.l_manu_steps_box div p{
		padding: 5%!important;
		font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', arial, helvetica, sans-serif!important;
	}
	.l_manu_steps_box{
		width: 40vw!important;
	}
	.c_double_steps{
		overflow-x: scroll;
		width: 50vw!important;
	}
	.l_manufacturing_slides{
/*		width: 300px!important;*/
		margin-top: 20px;
		width: 48%!important;
	}
	.l_manufacturing_steps::before {
		background-size: contain!important;
		width: 55vw!important;
		height: 15vw!important;
		top: -5.5%!important;
		left: 0!important;
		margin-top: -20px!important;
	}
	.l_manufacturing_steps{
		width: 45%!important;
	}
	.l_img_container{
		width: 40vw!important;
		height: 100%!important;
		font-size: 14px!important;
	}
	.c_table_type04 .textbox input{
		width: 90vw!important;
		height: 10vw!important;
		margin-left: 0px!important;
	}
	.c_table_type04 th span {
    	margin-left: 10px!important;
	}
	.c_table_type04 th{
		font-size: 18px;
		justify-content: flex-start!important;
	}
	.c_table_type04 .textbox textarea{
		margin-left: 0px!important;
		width: 90vw!important;
		border: 1px solid #b6b6b6;
	}
	.c_table_type04 td{
		width: 100%
	}
	.c_table_type04_button{
		width: 50vw!important;
	}
	.last_child{
		width: 40%!important;
	}
	.last_child_td{
		width: 55%!important;
	}
	.l_section_type04{
		background:  unset!important;
	}
	.msg_president.details {
		width: 100%!important;
		
	}
	.msg_president.details p:not(.link){
		font-size: 18px!important;
		text-shadow: 1px 1px white;
	}
	.msg_president.link{
		left: 0!important;
		text-align: left!important;
		top: 30px!important
	}
	.title-part_2{
		top: 0px;
		margin-left: -30px;
	}
	.title-part_2::before{
    border-top: unset!important;
 
	}
	.u_sp_pad{
		padding: 0px!important
	}
	.msg_president.link span a{
		font-size: 16px!important;
	}
	.l_card_type02:nth-child(3) .l_card_header img {
    	width: 120%;
		left: -4vw;
	}
	.l_card_container01 > div:before {
		content: "" !important;
	}
	.l_card_type02 {
		width: 40%!important;
	}
	.l_card_type02 .l_card_header {
		width: 100%!important;
		min-height: 60vw!important;
	}
	.l_card_type02 .l_card_header img {
		width: 195%;
		position: absolute;
		bottom: 0;
		left: -15vw;    
		right: 0;
		margin: 0 auto;
	}
	.l_card_type02 .l_card_details, .l_card_type02 .l_card_footer {
		font-size: 14px!important;
	}
	.c_president_msg_div{
		margin-top: -360px!important;
		overflow: hidden;
	}
	.l_poster_header.title{
		top: 0px!important;
	}
	.l_poster_header img{
		width: 40vw!important;
		margin-top: -2%;
	}
	.l_wrap.top{
		padding: 0% 2%!important;
	}
	.c_box_manu.type02, .c_box_manu {
		width: 40vw!important;
		height: 55vw!important;
		position: relative;
		padding: 1.5vw!important;
		font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', arial, helvetica, sans-serif!important;
	}
	.c_box_manu p {
		font-size: 14px!important;
	}
	.c_box_manu img {
    	width: 100%;
	}
	.steps_slider {
		flex-wrap: nowrap;
	}
	.steps_slider .c_box_manu:first-child {
		margin-right: 7vw;
	}
	.steps_slider .c_box_manu:first-child::after {
		content: "";
		background: url(../images/arrow_manu.png) no-repeat;
		background-size: contain;
		height: 6vw;
		width: 7vw;
		position: absolute;
		right: -8vw;
		top: 0;
		bottom: 0;
		margin: auto 0;
	}
	.c_box_description{
		height: auto!important;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.c_box_voice_date{
		margin-bottom: 10px!important;
		font-size: 12px!important;
	}
	.c_box_voice_contents {
		font-size: 14px!important;
		height: auto!important;
		align-items: baseline;
		margin: 10px 0;
	}
	.c_btn_voice {
		padding: 8px!important;
		font-size: 12px!important;
	}
	.c_btn_voice:after{
		background-size: contain!important;
		height: 2vw!important;
		width: 1.5vw!important;
	}
	.modal-body{
		font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', arial, helvetica, sans-serif;
	}
	.c_modal_box01 {
		padding: 4% 4% 2%;
		height: 40vw;
		margin-bottom: 5%;
	}
	.c_ttl03 {
		font-size: 16px!important;
	}
	.c_ttl03:before {
		content: "";
		background: #29ABE2;
		width: 7%;
		height: 3px;
		margin-right: 4%;
	}
	.c_para01 {
		font-size: 14px!important;
	}
	.c_modal_box01-name p:last-child {
		font-size: 12px!important;
	}
	.c_modal_box01-name p:first-child {
		font-size: 12px!important;
		margin-right: 5%!important;
	}
	.l_section-modal02 {
		padding: 0 5% 5%!important;
	}
	.l_section-modal02 h2 {
		top: -3.5vw!important;
	}
	.c_ttl04 span {
    	font-size: calc(20px + 20 * ((100vw - 768px) / 768))!important;
	}
	.sp_img100 {
		width: 100%;
	}
	.modal{
		z-index: 1001!important;
	}

	.c_ttl_type01 {
		font-size: 18px!important;
	}
	.c_ttl_type01 span {
		font-size: 12px!important;
	}
	.c_box_type06_header{
		margin-top: 0px!important;
		width: 100%!important;
	}
	.c_table_type04 tr > * {
		padding: 5px 0px!important;
	}
	.c_table_type04 tr{
		padding-bottom: 15px;
	}
	.close {
		font-size: calc(50px + 50 * ((100vw - 768px) / 1000))!important;
		right: 4%!important;
	}
	.modal-content {
		width: 100%!important;
	}

	.modal-body {
		padding: 6% 4%!important;
		background: #D5EDFA!important;
	}
	.c_modal_box01 {
		padding: 4% 4% 2%!important;
		height: 40vw!important;
		margin-bottom: 5%!important;
	}
	.c_modal_box01-name {
		flex-direction: row!important;
		align-items: center!important;
	}
	.l_message-seniors {
		flex-wrap: wrap;
	}
	.l_message-seniors > div:not(:nth-last-child(-n+2)) {
		margin-bottom: 6%1;
	}
	.c_box-message {
		width: 46%!important;
	}
	.c_box-message div {
    	font-size: 14px!important;
	}
	.no_cross_sp::after{
		background: unset!important;
		width: 0;
		height: 0;
	}
	.c_box-message{
		margin-bottom: 30px;
	}
	.c_box-message-img {
		width: 100%!important;
		height: 60vw!important;
	}
	.c_box-message:nth-child(1) .c_box-message-img img {
		left: -28%!important;
	}
	.c_box-message:nth-child(2) .c_box-message-img img {
		left: -30%!important;
	}
	.l_message-seniors > div:last-child {
		margin: 0 auto;
	}
	.c_box-message-content {
		width: 100%!important;
		height: 25vw!important;
		font-size: 14px;
	}
	.c_box-message-img.last_message img{
		height: 100%;
		position: absolute;
		bottom: 0;
		left: -10px;
		right: 0;
		margin: 0 auto;
	}
	.c_box-message-year {
		font-size: 14px;
		text-align: left!important;
	}
	.c_box:not(.header){
		height: 35vw;
	}
	.c_description a{
		text-align: right;
		margin-right: 10px;
	}
	.msg_president.details{
		height: 335px;
		width: 50%;
		margin-bottom: 125px;
	}
	.l_footer-nav {
		display: flex!important;
		margin-bottom: 6%;
		width: 100%;
		justify-content: space-between;
		font-size: 12px;
		align-items: center;
	}
	.l_footer-nav a{
		text-decoration: none;
	}
	.l_pagetop a{
		margin-bottom: unset!important;
		right: 0px!important;
		font-size: 12px!important;
	}
	.l_wrap.page_top{
		padding: 0% 0%!important;
	}
	.l_poster_header.inner{
		margin: 15px 0px!important;
	}
	.l_location_details{
		font-size: 12px!important;
	}
	.l_pg-3{
		background: #eeeeed!important;
		padding: 0% 0px 0%!important;
		text-align: center;
	}
	.u_mat50{
		margin-top: 10%!important;
	}
	.l_contact_ttl{
		padding: 0px!important;
		width: 120px!important;
		height: 78px!important;
	}
	.l_section06 .contact{
		padding: 10% 0%!important;
	} 
	.contacts{
		padding: 10%;
	}

	.c_ttl01:before {
		content: "";
		margin-bottom: 3%;
		background-size: contain!important;
	}
	.c_ttl01 {
		font-size: 18px!important;
	}
	.c_ttl01 span {
		font-size: 12px!important;
	}
	.c_ttl01 span:before {
		margin-right: 4vw!important;
	}
	.c_ttl01 span:after, 
	.c_ttl01 span:before {
		width: 8vw!important;
	}
	.c_ttl01 span:after {
		margin-left: 4vw!important;
	}
	.centered img{
		width: 75%!important;
		margin: 0px!important;
	}
	.l_point p{
		font-size: 14px!important;
	}
	.l_point_container .l_point .header p{
	    font-size: 16px!important;
		padding: 1.5% 3% 0%!important;
		line-height: 1;
		height: 7vw;
	}
	.l_point_container .l_point .header{
		margin-bottom: 4%!important;
	}
	.c_box_type04_header{
		font-size: 14px!important;
		padding: 4% 0px!important;
		width: 100%;
	}
	.c_ttl_type01 span:before,
	.c_ttl_type01 span:after{
		width: 8vw!important;
	}
	.c_ttl_type01 span:before{
		margin-right: 4vw!important;
	}
	.u_mat70, .u_mat60{
		margin-top: 10%!important;
	}
	.l_manufacturing_section{
		margin-top: 0px!important;
	}
	.c_box_type06 .c_box_type06_content{
		border-top: 1px solid #ccc!important;
		padding: 6% 4%!important;
		height: 65vw!important;
	}
	.c_box_type06 .c_box_type06_header{
		font-size: 14px!important;
		padding: 2.5% 0px!important;
	}
	.c_box_type06_content p{
		font-size: 14px!important;
		text-align: center!important;
		margin-top: 5%!important;
		padding-top: 5%!important;
	}
	.l_section_type07.pad_tb100{
		padding: 12.5% 4%!important;
	}
	.c_border_type01{
		height: 8vw!important;
		padding-right: 4%;
	}
	.l_pagetop{
		top: 0px!important;
	}
	.contact_pc{
		margin: unset!important;
		font-size: 0.9rem;
	}
	.c_contact_input{
		font-size: 0.9rem!important;
	}
	.l_contact_info_footer{
		width:100%!important;
		text-align: center;
	}
	.l_contact_info_footer img{
		width: 60%;
	}
	.l_contact_area{
		display: block!important;
		text-align: center;
	}
	.page3{
		margin-bottom: 0px!important;
	}
	.page4{
		margin-top: 0px!important;
		background: #eeeeed!important;
		margin-bottom: 0px!important;
	}
	
	.c_contact_type01:before {
		position: relative!important;
		height: 30px!important;
		width: 30px!important;
		left: 23vw!important;
		top: 3px!important;
		background-size: 100% 100%!important;
	}
	.c_contact_type01{
		padding-left: 0px!important;
		padding-bottom: 20px;
	}
	.l_copyright_area p{
		padding: 15px 0px!important;
	}
	.l_double > div{
		width: 100%!important;
		display: block!important;
	}
	.l_double{
		display: unset!important;
	}
	.l_card_wrapper01{
		padding: 20px 15px 10px 15px!important;
	}
	.c_card_type01{
		padding-bottom: 15px!important;
	}
	.c_card_type01 h2{
		font-size: 1.4rem!important;
	}
	.u_sp_double > div{
		width: 49%!important;
		display: inline-block!important;
	}
	.c_para01{
		padding: 10px 15px!important;
	}
	.c_box_type01{
		min-width: unset!important;
		width: 100%!important;
		padding: 15px!important;
	}
	.c_card_type02_description{
		width: 220px!important;
		font-size: 12px!important;
	}
	.c_card_type02_steps p{
		width: 100px!important;
		font-size: 12px!important;
	}
	.c_card_type02_steps{
		margin-bottom: 5px!important;
	}
	.l_section_type01{
		padding: 0 0px!important;
	}
	.c_box_type01 img{
		width: 100%;
	}
	.l_section_type01::before{
		left: 40%!important;
		height: 1300px!important;
	}
	.interview > div{
		width:  47.8%!important;
	}
	.interview .l_interview_container img{
		width: 100%;
	}
	.c_header_title{
		font-size: 1.4rem!important;
	}
	.interview{
		justify-content: space-between!important;
	}
	.half_interview{
		width: 100%!important;
	}
	.c_header_img{
		padding-top: 40px!important;	
	}
	.l_interview_container{
		position: relative;
		margin-bottom: 20px;
	}
	.l_interview_container .fifth_child{
		height: unset!important;
	}
	.c_contact_type01 .c_contact_header{
		font-size: 1.3rem!important;
	}
	.c_contact_detail{
		font-size: 0.8rem!important;
	}
	.c_box_type03, .c_box_type04{
		width: 100%!important;
		font-size: 1rem!important;
	}
	.c_box_type03{
		margin-top: -65px!important;
	}
	.c_ttl_type01.work::before{
		top: 20px!important;
    	left: -10vw!important;
		position: relative!important;
	}
	.work_point{
		display: unset!important;
		flex-wrap: unset!important;
		justify-content: unset!important;
	}
	.title_sp{
		text-align: left!important;
	}
	.table_company_first{
		padding: 0px 0px 50px!important;
	}
	.president_msg div{
		width: 100%!important;
	}
	.company_table, .table_company{
		width: 72%!important;
		font-size: 1rem;
	}
	.img_container{
		width: 27%!important;
	}
	.best-press{
		width: 50%!important;
	}
	.owl-dots{
		background: #eeeeed;
	}
	.l_headline-content hr {
		max-width: 250px!important;
	}
	.c_img-modal-hline-info{
		right: -70%!important;
    	margin-top: -17%!important;
		width: 25vw;
	}
	.l_group_container01 {
		justify-content: center!important;
		margin-bottom: 40px!important;
	}
	.l_group_container01, .l_group_container02 {
		flex: 100%!important;
		max-width: 100%!important;
		text-align: center!important;
	}
	.l_group_button01 {
		padding: 35px 10px;
	}
	.l_group_button01::before {
		content: " "!important;
		width: 2px!important;
		height: 40px!important;
		background-color: #999999!important;
		position: absolute!important;
		right: 50%!important;
		bottom: -40px!important;
	}
	.l_group_button01::after{
		position: relative!important;
	}
	.l_group_container02 {
		border-top: 2px solid #999999!important;
		padding: 20px 0!important;
		border-left: none!important;
	}
	.l_group_container02::before {
		height: 30px!important;
		width: 2px!important;
	}
	.l_group_button02 {
		width: calc(50% - 10px)!important;
		padding: 17px 10px!important;
	}
	.l_group_button02 a {
		font-size: 9px!important;
	}
	.l_group_container02::after {
		height: 30px!important;
		width: 2px!important;
		left: 100%!important;
		top: 0!important;
	}
	.c_table_detail{
		font-size: 1rem!important;
	}
	.c_company_card .c_table_detail tbody tr:first-child td:first-child, .c_company_card .c_table_contact tbody tr:first-child td:first-child{
		width: 50px!important;
	}
	.u_map:after{
		width: 22px!important;
		margin-left: 9px!important;
		font-size: 0.6rem!important;
	}
	.c_card_header{
		font-size: 1.3rem!important;
	}
	.c_ttl_div_type03{
		padding-top: 30px!important;
	}
	.president_msg{
		font-size: 1.2rem!important;
	}
	.c_map-canvas {
		float: left!important;
		width: 100%!important;
		height: 300px!important;
		margin: 0 0 40px!important;
	}
	.c_map-table-loc {
		float: left;
		width: 100%;
		color: #0E0E0E;
		font-size: 1.1rem;
		text-align: center;
		margin: 0 0 40px;
	}
}